body {
  background-color: #d6d6d6;
}

#title {
  text-align: center;
  font-size: 42px;
  margin-bottom: 20px;
  margin-top: 0px;
}

#contentwrapper {
  text-align: center;
}

#content {
  font-size: 24px;
  margin-bottom: 10px;
}

#contentform div {
  padding: 4px 0px 4px 0px;
}

#contentform button {
  margin-bottom: 15px;
}

#wrapper {
  height: 260px;
  width: 500px;
  top: 50%;
  left: 50%;
  vertical-align: center;
  margin-top: -140px;
  margin-left: -250px;
  position: fixed;
  padding: 10px 0px 10px 0px;
  background-color: #ababab;
  position: absolute;
}

#link {
  margin-bottom: 0px;
  font-size: 14px;
  text-decoration: none;
  color: black;
}

#link:hover {
  color: #515151;
}

#message, #hiddenmessage {
  position: relative;
  bottom: 30%;
  text-align: center;
  background-color: #ababab;
  margin-bottom: -65px;
}

#hiddenmessage {
  visibility: hidden;
}

#messagecontent {
  font-size: 16px;
  padding-top: 6px;
  padding-bottom: 6px;
}
